<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  {{> client/meta.partial}}

  {{> client/css.partial}}
</head>

<body class="header_sticky header-style-1 topbar-style-1 has-menu-extra">

  {{> client/loader.partial}}

  <!-- Boxed -->
  <div class="boxed">

    {{{body}}}


    {{> client/footer.partial}}
  </div>

  {{> client/js/assets.partial}}

  {{> client/index/js.partial}}
</body>

</html>