<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  {{> client/meta.partial}}

  {{> client/css.partial}}
  {{#if auth}}
  {{> client/auth/css.partial}}
  {{/if}}

  {{#ifeq cart 'checkout'}}
  <link rel="stylesheet" href="/static/stylesheets/cart.css">
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var PUBLISHABLE_KEY = '{{{publishable_key}}}'
    var purchase = window.location.search
    var fetchBody = {
      _csrf: '{{{csrfToken}}}',
      purchase: purchase
    }
  </script>
  <script src="/static/javascript/cart.js" defer></script>
  {{/ifeq}}

</head>

<body class="header_sticky header-style-1 topbar-style-1 has-menu-extra">

  {{> client/loader.partial}}

  <!-- Boxed -->
  <div class="boxed">
    {{> client/header.partial}}

    {{{body}}}

    {{> client/subscribe-email.partial}}

    {{> client/footer.partial}}
  </div>

  {{> client/js/assets.partial}}
  {{> client/js/account.partial}}
  {{> client/js/cart.partial}}

  {{#ifeq cart 'address'}}
  {{> client/js/address.partial}}
  {{/ifeq}}

  {{#ifeq cart 'checkout'}}
  {{> client/js/checkout.partial}}
  {{/ifeq}}

  {{#ifeq cart 'finish'}}
  {{> client/js/finish.partial}}
  {{/ifeq}}

  {{#if order}} 
  {{> client/js/order.partial}}
  {{/if}}

  {{> client/index/js.partial}}
</body>

</html>