<div class="p-4">
    {{!-- flash --}}
    {{> admin/flash.partial}}
    
    {{!-- form --}}
    {{#ifeq formType 'create'}}
    {{> admin/order/form/create.partial }}
    {{else}}
    {{> admin/order/form/update.partial }}
    {{/ifeq}}
</div>