{{!-- Mm account --}}
<section class="flat-row main-shop shop-detail style-1">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h5>
              My orders
            </h5>
          </div>
          <div class="card-body p-3">
            {{#ifeq myOrder 'list'}}
            {{> client/order/list.partial}}
            {{/ifeq}}
            {{#ifeq myOrder 'view'}}
            {{> client/order/detail.partial}}
            {{/ifeq}}
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>