<div class="container">
  <div class="row">
    <div class="col-sm-12 table-responsive">
      <form id='checkout-form' action="/checkout" method="POST">
      {{> csrf}}
        {{!-- Customer info --}}
        <div class="card">
          <div class="card-header">
            Choose a payment method
          </div>
          <div class="card-body p-3">
            <div class="row">
              <div class="col-sm-12 pl-4">
                <input type="radio" name="paymentMethod" value="COD" id="pay-with-cod" checked onchange="toggleCreditInfo(this)">
                <label for="COD" class="ml-2">Cash On Delivery (COD)</label>
              </div>
              <div class="col-sm-12 pl-4">
                <input type="radio" name="paymentMethod" id="pay-with-cc" value="CARD" onchange="toggleCreditInfo(this)">
                <label for="CARD" class="ml-2">VISA/MASTER</label>
              </div>
            </div>

            {{!-- Credit card info --}}
            <div id='card-info-container' class="mt-4 card d-none">
              <div class="card-header">
                <i class="fa fa-credit-card mr-2"></i>Card info
              </div>
              <div class="card-body p-3 row">
                <div class="col-sm-6">
                  <div class="sr-payment-form">
                    <div class="sr-combo-inputs-row">
                      <div class="sr-input sr-card-element" id="card-element"></div>
                    </div>
                    <div class="sr-field-error mt-2" id="card-errors" role="alert"></div>
                  </div>
                  
                  <div class="sr-result hidden">
                    <p class="text-success">Payment completed</p>
                  </div>
                </div>

                <div class="col-sm-6">
                </div>

              </div>
            </div>
          </div>

          {{!-- Order button --}}
          <div class="col-sm-12 mb-3 d-flex justify-content-end">
            <div class="mr-0">
              <button id="checkout-btn" type="submit">
                      <div class="spinner hidden" id="spinner"></div>
                      <span id="button-text">Order</span><span id="order-amount"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>
  <!-- /.row -->
</div>
<!-- /.container -->