<div class="container">
  <div class="row">
    <div class="col-sm-12 table-responsive">
      <div class="wrap-error text-center">
          <div class="header-error">
              Thank you!
          </div>
          <div class="content-error">
              <h2>Successfully, Your order is now processing!</h2>
              <p>You can keep track on your order status with id <strong class="font-italic">'{{{orderId}}}'</strong>  .Click <a href="/track-order?orderId={{{orderId}}}" class="btn-error">here</a> to track your order</p>
          </div>
      </div><!-- /.wrap-error -->
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->