
<section class="flat-row main-shop shop-detail style-1">
      {{!-- Cart --}}
      {{#ifeq cart 'address'}}
      {{> client/cart/address.partial}}
      {{/ifeq}}
      {{!-- Checkout --}}
      {{#ifeq cart 'checkout'}}
      {{> client/cart/checkout.partial}}
      {{/ifeq}}
      {{!-- Finish --}}
      {{#ifeq cart 'finish'}}
      {{> client/cart/finish.partial}}
      {{/ifeq}}
</section>