<section class="flat-row flat-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-error text-center">
                    <div class="header-error">
                        401
                    </div>
                    <div class="content-error">
                        <h2>Oops, Unauthenticated!</h2>
                        <p>It looks like nothing was found at this location. Click <a href="/"
                                class="btn-error">here</a> to return Homepage</p>
                    </div>
                </div><!-- /.wrap-error -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->