<!doctype html>
<html lang="en">
    {{#ifMatch content 'list'}}
    {{> admin/list/head.partial }}
    {{/ifMatch}}
    
    {{#ifMatch content 'form'}}
    {{> admin/form/head.partial }}
    {{/ifMatch}}


<body class="fixed-left">

    {{> admin/loader.partial }}

    <!-- Begin page -->
    <div id="wrapper">

        {{> admin/left-sidebar.partial }}

        <!-- Start right Content here -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">

                {{> admin/top-bar.partial }}
                <!-- ==================
                         PAGE CONTENT START
                         ================== -->
                <div class="page-content-wrapper">

                    <div class="container-fluid">
                        {{{body}}}
                    </div>
                </div>

            </div> <!-- content -->

            {{> admin/footer.partial }}


        </div>
        <!-- End Right content here -->

    </div>
    <!-- END wrapper -->

    {{#ifMatch content 'list'}}
    {{> admin/list/js.partial }}
    {{/ifMatch}}

    {{#ifMatch content 'form'}}
    {{> admin/form/js.partial }}
    {{/ifMatch}}

    {{> admin/main/js.partial }}
</body>

</html>