<!-- Page title -->
<div class="page-title parallax parallax1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          <h1 class="title">{{{pageTitle}}}</h1>
        </div><!-- /.page-title-heading -->
        <div class="breadcrumbs">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="blog-list.html">Blog</a></li>
          </ul>
        </div><!-- /.breadcrumbs -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.page-title -->