<div class="header-breadcrumb">
    <ul class="text-center">
        <li>
            <a href="/admin/products">Product</a>
        </li>
        {{#ifMatch content 'view'}}
        <li>View</li>
        {{/ifMatch}}
        {{#ifMatch content 'gallery'}}
        <li>Gallery</li>
        {{/ifMatch}}
        {{#ifMatch content 'list'}}
        <li>List</li>
        {{/ifMatch}}
        {{#ifMatch content 'form'}}
        <li>Add</li>
        {{/ifMatch}}
    </ul>
</div>