{{> admin/main/header.partial }}

<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                {{!-- View --}}
                {{#ifMatch content 'view'}}
                    {{#ifeq formType 'update'}}
                    {{> admin/category/view/sub-update.partial}}
                    {{else}}
                    {{> admin/category/view.partial}}
                    {{/ifeq}}
                {{/ifMatch}}

                {{!-- List --}}
                {{#ifMatch content 'list'}}
                    {{> admin/category/list.partial}}
                {{/ifMatch}}

                {{!-- Form --}}
                {{#ifMatch content 'form'}}
                    {{> admin/category/form.partial}}
                {{/ifMatch}}
                
    </div> <!-- end col -->
</div> <!-- end row -->