<!-- Login Form -->
<section class="flat-row flat-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-section margin_bottom_17">
          <h2 class="title">
            Resend activation
          </h2>
        </div><!-- /.title-section -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-8 d-flex flex-column mx-auto px-4 ">
        {{> flash}}
        <form  class="contact-form" id="register-form" method="post" action="/resend-activation">
        {{> csrf}}
          <div class="row form-group my-3">
            <div class="col-12 form-input">
              <label for="email" class="form-label">
                Email <span class="text-danger">*</span>
              </label>

              {{#if errors.email}}
              <input type="email" name="email" id="email" class="not-valid"
              placeholder="Enter email" required>
              {{#with errors.email}}
                {{> client/error.partial}}
              {{/with}}
              {{else}}
                {{#if validData.email}}
                <input type="email" name="email" id="email" placeholder="Enter email" value="{{{validData.email}}}" required>
                {{else}}
              <input type="email" name="email" id="email" placeholder="Enter email" required>
                {{/if}}
              {{/if}}
            </div>
          </div>


          <div class="row form-group my-3">
            <div class="col-12">
            <button class="w-100 form-input contact-submit my-2">Send email</button>
            </div>
          </div>
        </form>
        
        <div class="dropdown-divider my-4 " style="background-color: #333"></div>

        <div class="row ">
          <div class="col-sm-12">
            <p class="mb-0 font-italic">Already have an account? <a href="/login" class="text-info">Login</a></p>
          </div>
        </div>

      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-row -->

<!-- End Login Form -->