<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#account" role="tab">
                            <span class="d-none d-md-block ">
                                <h5 class="m-0">Account</h5>
                            </span><span class="d-block d-md-none">
                                <i class="mdi mdi-home-variant h5"></i></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="tab" href="#profile" role="tab">
                            <span class="d-none d-md-block ">
                                <h5 class="m-0">Profile</h5>
                            </span><span class="d-block d-md-none">
                                <i class="mdi mdi-home-variant h5"></i></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#changePwd" role="tab">
                            <span class="d-none d-md-block">
                                <h5 class="m-0">Change password</h5>
                            </span><span class="d-block d-md-none"><i class="mdi mdi-account h5"></i></span>
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    {{!-- Account --}}
                    <div class="tab-pane p-3" id="account" role="tabpanel">
                        {{> admin/profile/account.partial }}
                    </div>
                    {{!-- Profile --}}
                    <div class="tab-pane active p-3" id="profile" role="tabpanel">
                        {{> admin/profile/profile.partial }}
                    </div>
                    {{!-- Change password --}}
                    <div class="tab-pane p-3" id="changePwd" role="tabpanel">
                        {{> admin/profile/changePwd.partial }}
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>