<div class="p-3">
    {{!-- flash --}}
    {{> admin/flash.partial}}
    
    {{!-- form --}}
    {{#ifeq formType 'create'}}
    {{> admin/account/form/create.partial }}
    {{else}}
    {{> admin/account/form/update.partial }}
    {{/ifeq}}
</div>