<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</td>
        <th>Total</th>
        <th>Payment</th>
        <th>Created At</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>$1,000</td>
        <td>Credit card</td>
        <td>1/21/2020</td>
        <td>Processing</td>
        <td>
          <a href="/my-orders/id" class="btn btn-info" style="line-height: 12px; font-size: 14px; padding: 5px; border: none;">
            <i class="fa fa-eye"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>