<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">

  <!-- LOGO -->
  <div class="topbar-left">
    <div class="">
      <!--<a href="index.html" class="logo text-center">Admiria</a>-->
      <a href="/admin" class="logo"><img src="/admin/static/assets/images/logo-sm.png" height="36" alt="logo"></a>
    </div>
  </div>

  <div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
      <ul>

        <li class="menu-title">Main</li>

        <li id="menu-dashboard" class="has_sub">
          <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-view-dashboard"></i> <span>
              Dashboard <span class="badge badge-pill badge-primary pull-right">20+</span></span>
          </a>
          <ul class="list-unstyled">
            <li><a href="index.html">Dashboard One</a></li>
            <li><a href="dashboard-2.html">Dashboard Two</a></li>
          </ul>
        </li>

        <li id="menu-account" class="has_sub">
          <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-user-group"></i> <span>
              Accounts </span>
          </a>
          <ul class="list-unstyled">
            <li>
              <a href="/admin/accounts" class="waves-effect"><i class="ion-grid"></i><span>
                  All
                </span></a>
            </li>
            <li>
              <a href="/admin/accounts/admins" class="waves-effect"><i class="ion-ribbon-b"></i><span>
                  Admin
                </span></a>
            </li>
            <li>
              <a href="/admin/accounts/customers" class="waves-effect"><i class="ion-android-contacts"></i><span>
                  Customer
                </span></a>
            </li>
          </ul>
        </li>

        <li id="menu-order">
          <a href="/admin/orders" class="waves-effect"><i class="ion-ios7-paper"></i><span> Order
            </span></a>
        </li>

        <li id="menu-category">
          <a href="/admin/categories" class="waves-effect"><i class="ion-ios7-keypad"></i><span> Category
            </span>
          </a>
        </li>

        <li id="menu-product">
            <a href="/admin/products" class="waves-effect"><i class="ion-grid"></i><span>
              Product </span>
            </a>
        </li>

        <li id="menu-provider">
          <a href="/admin/providers" class="waves-effect"><i class="ion-archive"></i><span> Provider
            </span></a>
        </li>


        <li>
          <a href="/admin/storages" class="waves-effect"><i class="ion-ios7-home"></i><span> Storage
            </span></a>
        </li>
        <li>
          <a href="/admin/restocks" class="waves-effect"><i class="ion-ios7-bookmarks"></i><span> Restock
            </span></a>
        </li>

        <li id="menu-voucher">
          <a href="/admin/vouchers" class="waves-effect"><i class="mdi mdi-case-sensitive-alt"></i><span> Voucher
            </span></a>
        </li>
        <li id="menu-contact">
          <a href="/admin/contacts" class="waves-effect"><i class="mdi mdi-email-outline"></i><span> Messages box
            </span></a>
        </li>

      </ul>
    </div>
    <div class="clearfix"></div>
  </div> <!-- end sidebarinner -->
</div>
<!-- Left Sidebar End -->