<!-- PRODUCT NEW -->
<section class="flat-row row-best-sale">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-section margin-bottom-43">
          <h2 class="title">
            Best Sale
          </h2>
        </div>
        <div class="product-content product-fivecolumn clearfix">
          <ul class="product style3">
            <li class="product-item">
              <div class="product-thumb clearfix">
                <a href="#">
                  <img src="images/shop/sh-5/1.jpg" alt="image">
                </a>
                <span class="new sale">Sale</span>
              </div>
              <div class="product-info clearfix">
                <span class="product-title">Faux shearling aviator<br> jacket</span>
                <div class="price">
                  <del>
                    <span class="regular">$130.00</span>
                  </del>
                  <ins>
                    <span class="amount">$100.00</span>
                  </ins>
                </div>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
            <li class="product-item">
              <div class="product-thumb clearfix">
                <a href="#">
                  <img src="images/shop/sh-5/2.jpg" alt="image">
                </a>
                <span class="new">New</span>
              </div>
              <div class="product-info clearfix">
                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                <div class="price">
                  <ins>
                    <span class="amount">$100.00</span>
                  </ins>
                </div>
                <ul class="flat-color-list">
                  <li>
                    <a href="#" class="red"></a>
                  </li>
                  <li>
                    <a href="#" class="blue"></a>
                  </li>
                  <li>
                    <a href="#" class="black"></a>
                  </li>
                </ul>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
            <li class="product-item">
              <div class="product-thumb clearfix">
                <a href="#">
                  <img src="images/shop/sh-5/3.jpg" alt="image">
                </a>
                <span class="new">New</span>
              </div>
              <div class="product-info clearfix">
                <span class="product-title">Hood wool blend duffle<br> coat</span>
                <div class="price">
                  <ins>
                    <span class="amount">$130.00</span>
                  </ins>
                </div>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
            <li class="product-item">
              <div class="product-thumb clearfix">
                <a href="#">
                  <img src="images/shop/sh-5/4.jpg" alt="image">
                </a>
                <span class="new sale">Sale</span>
              </div>
              <div class="product-info clearfix">
                <span class="product-title">Slim-fit patterned suit<br> blazer</span>
                <div class="price">
                  <del>
                    <span class="regular">$170.00</span>
                  </del>
                  <ins>
                    <span class="amount">$139.00</span>
                  </ins>
                </div>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
            <li class="product-item">
              <div class="product-thumb clearfix">
                <a href="#">
                  <img src="images/shop/sh-5/5.jpg" alt="image">
                </a>
                <span class="new sale">Sale</span>
              </div>
              <div class="product-info clearfix">
                <span class="product-title">Cotton cashmereblend<br> cardigan</span>
                <div class="price">
                  <del>
                    <span class="regular">$130.00</span>
                  </del>
                  <ins>
                    <span class="amount">$100.00</span>
                  </ins>
                </div>
                <ul class="flat-color-list">
                  <li>
                    <a href="#" class="red"></a>
                  </li>
                  <li>
                    <a href="#" class="blue"></a>
                  </li>
                  <li>
                    <a href="#" class="black"></a>
                  </li>
                </ul>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
          </ul><!-- /.product -->
        </div><!-- /.product-content -->
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
<!-- END PRODUCT NEW -->