<!-- NEW LATEST -->
<section class="flat-row row-new-latest style-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-section margin-bottom-51">
          <h2 class="title">New Latest</h2>
        </div>
        <div class="new-latest-wrap">
          <div class="flat-new-latest post-wrap flat-carousel-box style4 data-effect clearfix" data-auto="false"
            data-column="3" data-column2="2" data-column3="1" data-gap="30">
            <div class="owl-carousel owl-theme">
              <article class="post clearfix">
                <div class="featured-post data-effect-item">
                  <img src="images/blog/new-lastest-4-370x280.jpg" alt="image">
                  <div class="overlay-effect bg-overlay-black opacity02"></div>
                </div>
                <div class="content-post">
                  <ul class="meta-post">
                    <li class="date">
                      Oct 08, 2018
                    </li>
                    <li class="author">
                      <a href="#"> By Admin</a>
                    </li>
                  </ul><!-- /.meta-post -->
                  <div class="title-post">
                    <h2><a href="blog-detail.html">The Most Classic, Unexpected, and Hottest Tech Gifts of 2018</a></h2>
                  </div><!-- /.title-post -->
                  <div class="entry-post">
                    <div class="more-link">
                      <a href="blog-detail.html">Continue Reading </a>
                    </div>
                  </div>
                </div><!-- /.content-post -->
              </article><!-- /.post -->
              <article class="post clearfix ">
                <div class="featured-post data-effect-item">
                  <img src="images/blog/new-lastest-5-370x280.jpg" alt="image">
                  <div class="overlay-effect bg-overlay-black opacity02"></div>
                </div>
                <div class="content-post">
                  <ul class="meta-post">
                    <li class="date">
                      Oct 08, 2018
                    </li>
                    <li class="author">
                      <a href="#"> By Admin</a>
                    </li>
                  </ul><!-- /.meta-post -->
                  <div class="title-post">
                    <h2><a href="blog-detail.html">Elizabeth Sulcer Is the Woman Behind Your Favorite Street Style
                        Looks</a></h2>
                  </div><!-- /.title-post -->
                  <div class="entry-post">
                    <div class="more-link">
                      <a href="blog-detail.html">Continue Reading </a>
                    </div>
                  </div>
                </div><!-- /.content-post -->
              </article><!-- /.post -->
              <article class="post clearfix">
                <div class="featured-post data-effect-item">
                  <img src="images/blog/new-lastest-6-370x280.jpg" alt="image">
                  <div class="overlay-effect bg-overlay-black opacity02"></div>
                </div>
                <div class="content-post">
                  <ul class="meta-post">
                    <li class="date">
                      Oct 08, 2018
                    </li>
                    <li class="author">
                      <a href="#"> By Admin</a>
                    </li>
                  </ul><!-- /.meta-post -->
                  <div class="title-post">
                    <h2><a href="blog-detail.html">The Victoria's Secret x Balmain Collabo- ration Is Everything You
                        Wanted It To Be</a></h2>
                  </div><!-- /.title-post -->
                  <div class="entry-post">
                    <div class="more-link">
                      <a href="blog-detail.html">Continue Reading </a>
                    </div>
                  </div>
                </div><!-- /.content-post -->
              </article><!-- /.post -->
              <article class="post clearfix">
                <div class="featured-post data-effect-item">
                  <img src="images/blog/new-lastest-4-370x280.jpg" alt="image">
                  <div class="overlay-effect bg-overlay-black opacity02"></div>
                </div>
                <div class="content-post">
                  <ul class="meta-post">
                    <li class="date">
                      Oct 08, 2018
                    </li>
                    <li class="author">
                      <a href="#"> By Admin</a>
                    </li>
                  </ul><!-- /.meta-post -->
                  <div class="title-post">
                    <h2><a href="blog-detail.html">The Most Classic, Unexpected, and Hottest Tech Gifts of 2018</a></h2>
                  </div><!-- /.title-post -->
                  <div class="entry-post">
                    <div class="more-link">
                      <a href="blog-detail.html">Continue Reading </a>
                    </div>
                  </div>
                </div><!-- /.content-post -->
              </article><!-- /.post -->
              <article class="post clearfix">
                <div class="featured-post data-effect-item">
                  <img src="images/blog/new-lastest-5-370x280.jpg" alt="image">
                  <div class="overlay-effect bg-overlay-black opacity02"></div>
                </div>
                <div class="content-post">
                  <ul class="meta-post">
                    <li class="date">
                      Oct 08, 2018
                    </li>
                    <li class="author">
                      <a href="#"> By Admin</a>
                    </li>
                  </ul><!-- /.meta-post -->
                  <div class="title-post">
                    <h2><a href="blog-detail.html">Elizabeth Sulcer Is the Woman Behind Your Favorite Street Style
                        Looks</a></h2>
                  </div><!-- /.title-post -->
                  <div class="entry-post">
                    <div class="more-link">
                      <a href="blog-detail.html">Continue Reading </a>
                    </div>
                  </div>
                </div><!-- /.content-post -->
              </article><!-- /.post -->
              <article class="post clearfix">
                <div class="featured-post data-effect-item">
                  <img src="images/blog/new-lastest-6-370x280.jpg" alt="image">
                  <div class="overlay-effect bg-overlay-black opacity02"></div>
                </div>
                <div class="content-post">
                  <ul class="meta-post">
                    <li class="date">
                      Oct 08, 2018
                    </li>
                    <li class="author">
                      <a href="#"> By Admin</a>
                    </li>
                  </ul><!-- /.meta-post -->
                  <div class="title-post">
                    <h2><a href="blog-detail.html">The Victoria's Secret x Balmain Collabo- ration Is Everything You
                        Wanted It To Be</a></h2>
                  </div><!-- /.title-post -->
                  <div class="entry-post">
                    <div class="more-link">
                      <a href="blog-detail.html">Continue Reading </a>
                    </div>
                  </div>
                </div><!-- /.content-post -->
              </article><!-- /.post -->
            </div><!-- /.owl-carousel -->
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- END NEW LATEST -->