<!-- COUNTDOWN -->
<div class="flat-row row-countdown no-padding">
  <div class="container-fluid">
    <div class="row equal sm-equal-auto">
      <div class="col-md-6 half-background style-1">

      </div>
      <div class="col-md-6  bg-section bg-color-f5f">
        <div class="flat-content-box clearfix" data-margin="0 0 0 8px" data-mobilemargin="0 0 0 0">
          <div class="flat-countdown-wrap text-center">
            <div class="inner">
              <div class="divider h120 clearfix"></div>
              <h2 class="heading font-size-40 line-height-48">Deal Of The Week</h2>
              <p class="desc font-size-18 font-weight-400 line-height-48">Special Discount Limited Time Only</p>
              <div class="divider h42 clearfix"></div>
              <div class="wrap-countdown no-margin-bottom">
                <div class="countdown style-1"></div>
              </div>
              <div class="divider h120 clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END COUNTDOWN -->