<!-- ICON BOX -->
<section class="flat-row row-icon-box style-1 bg-section bg-color-f5f">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="flat-icon-box icon-left w55 circle bg-white style-1 clearfix">
          <div class="inner no-margin  flat-content-box " data-margin="0 0 0 0" data-mobilemargin="0 0 0 0">
            <div class="icon-wrap">
              <i class="fa fa-truck"></i>
            </div>
            <div class="text-wrap">
              <h5 class="heading letter-spacing--1"><a href="#">Free Shipping</a></h5>
              <p class="desc">Apply order over $99</p>
            </div>
          </div>
        </div>
      </div><!-- /.col-md-3 -->
      <div class="col-md-3">
        <div class="flat-icon-box icon-left w55 circle bg-white style-1 clearfix">
          <div class="inner flat-content-box" data-margin="0 0 0 7px" data-mobilemargin="0 0 0 0">
            <div class="icon-wrap">
              <i class="fa fa-money"></i>
            </div>
            <div class="text-wrap">
              <h5 class="heading letter-spacing--1"><a href="#">Cash On Delivery</a></h5>
              <p class="desc">Internet Trend To Repeat</p>
            </div>
          </div>
        </div>
      </div><!-- /.col-md-3 -->
      <div class="col-md-3">
        <div class="flat-icon-box icon-left w55 circle bg-white style-1 clearfix">
          <div class="inner flat-content-box" data-margin="0 0 0 46px" data-mobilemargin="0 0 0 0">
            <div class="icon-wrap">
              <i class="fa fa-gift"></i>
            </div>
            <div class="text-wrap">
              <h5 class="heading letter-spacing--1"><a href="#">Gift For All</a></h5>
              <p class="desc">Gift When Subscribe</p>
            </div>
          </div>
        </div>
      </div><!-- /.col-md-3 -->
      <div class="col-md-3">
        <div class="flat-icon-box icon-left w55 circle bg-white style-1 clearfix">
          <div class="inner flat-content-box" data-margin="0 0 0 62px" data-mobilemargin="0 0 0 0">
            <div class="icon-wrap">
              <i class="fa fa-clock-o"></i>
            </div>
            <div class="text-wrap">
              <h5 class="heading letter-spacing--1"><a href="#">Opening All Week</a></h5>
              <p class="desc">6.00 am - 17.00pm</p>
            </div>
          </div>
        </div>
      </div><!-- /.col-md-3 -->
    </div>
  </div>
</section>
<!-- END ICON BOX -->