<!-- IMAGE BOX -->
<section class="flat-row row-image-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-carousel-box">
          <div class="flat-image-box flat-carousel-box style-1 data-effect div-h22 clearfix" data-auto="true"
            data-column="4" data-column2="2" data-column3="1" data-gap="20">
            <div class="owl-carousel owl-theme">
              <div class="item data-effect-item">
                <div class="inner">
                  <div class="thumb">
                    <img src="/static/images/image-box/pexels-andrea-piacquadio-837140.jpg" alt="Image">
                    <div class="elm-btn">
                      <a href="#" class="themesflat-button bg-white width-150">For Men’s</a>
                    </div>
                    <div class="overlay-effect bg-color-2"></div>
                  </div>
                </div>
              </div>
              <div class="item data-effect-item">
                <div class="inner">
                  <div class="thumb">
                    <img src="/static/images/image-box/pexels-bess-hamiti-35188.jpg" alt="Image">
                    <div class="elm-btn">
                      <a href="#" class="themesflat-button bg-white width-150">For Kid’s</a>
                    </div>
                    <div class="overlay-effect bg-color-2"></div>
                  </div>
                </div>
              </div>
              <div class="item data-effect-item">
                <div class="inner">
                  <div class="thumb">
                    <img src="/static/images/image-box/pexels-jonaorle-3828245.jpg" alt="Image">
                    <div class="elm-btn">
                      <a href="#" class="themesflat-button bg-white width-150">For woMen’s</a>
                    </div>
                    <div class="overlay-effect bg-color-2"></div>
                  </div>
                </div>
              </div>
              <div class="item data-effect-item">
                <div class="inner">
                  <div class="thumb">
                    <img src="/static/images/image-box/pexels-ali-pazani-2887718.jpg" alt="Image">
                    <div class="elm-btn">
                      <a href="#" class="themesflat-button bg-white width-150">Unisex</a>
                    </div>
                    <div class="overlay-effect bg-color-2"></div>
                  </div>
                </div>
              </div>
            </div> <!-- /.owl-carousel  -->
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container -->
</section>
<!-- END IMAGE BOX -->
