<!-- IMAGE BOX -->
<section class="flat-row row-image-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap-carousel-box">
          <div
            class="flat-image-box flat-carousel-box has-arrows arrow-center bg-transparent offset-62 offset-v-24 style-1 data-effect div-h22 clearfix"
            data-auto="true" data-column="3" data-column2="2" data-column3="1" data-gap="30">
            <div class="owl-carousel owl-theme">
              <div class="item data-effect-item">
                <div class="inner">
                  <div class="thumb">
                    <img src="images/image-box/imgbox-1-370x270.jpg" alt="Image">
                    <div class="elm-btn">
                      <a href="#" class="themesflat-button bg-white width-150">For Men’s</a>
                    </div>
                    <div class="overlay-effect bg-color-1"></div>
                  </div>
                </div>
              </div>
              <div class="item data-effect-item">
                <div class="inner">
                  <div class="thumb">
                    <img src="images/image-box/imgbox-2-370x270.jpg" alt="Image">
                    <div class="elm-btn">
                      <a href="#" class="themesflat-button bg-white width-150">For Kid’s</a>
                    </div>
                    <div class="overlay-effect bg-color-1"></div>
                  </div>
                </div>
              </div>
              <div class="item data-effect-item">
                <div class="inner">
                  <div class="thumb">
                    <img src="images/image-box/imgbox-3-370x270.jpg" alt="Image">
                    <div class="elm-btn">
                      <a href="#" class="themesflat-button bg-white width-150">For woMen’s</a>
                    </div>
                    <div class="overlay-effect bg-color-1"></div>
                  </div>
                </div>
              </div>
              <div class="item data-effect-item">
                <div class="inner">
                  <div class="thumb">
                    <img src="images/image-box/imgbox-1-370x270.jpg" alt="Image">
                    <div class="elm-btn">
                      <a href="#" class="themesflat-button bg-white width-150">For Men’s</a>
                    </div>
                    <div class="overlay-effect bg-color-1"></div>
                  </div>
                </div>
              </div>
              <div class="item data-effect-item">
                <div class="inner">
                  <div class="thumb">
                    <img src="images/image-box/imgbox-2-370x270.jpg" alt="Image">
                    <div class="elm-btn">
                      <a href="#" class="themesflat-button bg-white width-150">For Kid’s</a>
                    </div>
                    <div class="overlay-effect bg-color-1"></div>
                  </div>
                </div>
              </div>
              <div class="item data-effect-item">
                <div class="inner">
                  <div class="thumb">
                    <img src="images/image-box/imgbox-3-370x270.jpg" alt="Image">
                    <div class="elm-btn">
                      <a href="#" class="themesflat-button bg-white width-150">For woMen’s</a>
                    </div>
                    <div class="overlay-effect bg-color-1"></div>
                  </div>
                </div>
              </div>
            </div> <!-- /.owl-carousel  -->
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container -->
</section>
<!-- END IMAGE BOX -->