<!-- PRODUCT -->
<section class="flat-row row-product-project shop-collection">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-section margin-bottom-41">
          <h2 class="title">Shop Collection</h2>
        </div>
        <ul class="flat-filter style-1 text-center max-width-682 clearfix">
          <li class="active"><a href="#" data-filter="*">All Product</a></li>
          <li><a href="#" data-filter=".kid">Clothing</a></li>
          <li><a href="#" data-filter=".man">Shoes</a></li>
          <li><a href="#" data-filter=".woman">Bags</a></li>
          <li><a href="#" data-filter=".accessories">Accessories</a></li>
        </ul>
        <div class="divider h40"></div>
        <div class="product-content product-fourcolumn clearfix">
          <ul class="product style2 isotope-product clearfix">
            <li class="product-item kid woman">
              <div class="product-thumb clearfix">
                <a href="#">
                  <img src="images/shop/sh-4/1.jpg" alt="image">
                </a>
              </div>
              <div class="product-info clearfix">
                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                <div class="price">
                  <ins>
                    <span class="amount">$19.00</span>
                  </ins>
                </div>
                <ul class="flat-color-list width-14">
                  <li>
                    <a href="#" class="red"></a>
                  </li>
                  <li>
                    <a href="#" class="blue"></a>
                  </li>
                  <li>
                    <a href="#" class="black"></a>
                  </li>
                </ul>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
            <li class="product-item man accessories">
              <div class="product-thumb clearfix">
                <a href="#">
                  <img src="images/shop/sh-4/2.jpg" alt="image">
                </a>
                <span class="new">New</span>
              </div>
              <div class="product-info clearfix">
                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                <div class="price">
                  <ins>
                    <span class="amount">$10.00</span>
                  </ins>
                </div>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
            <li class="product-item kid woman">
              <div class="product-thumb clearfix">
                <a href="#" class="product-thumb">
                  <img src="images/shop/sh-4/3.jpg" alt="image">
                </a>
              </div>
              <div class="product-info clearfix">
                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                <div class="price">
                  <ins>
                    <span class="amount">$20.00</span>
                  </ins>
                </div>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
            <li class="product-item man accessories">
              <div class="product-thumb clearfix">
                <a href="#" class="product-thumb">
                  <img src="images/shop/sh-4/4.jpg" alt="image">
                </a>
                <span class="new sale">Sale</span>
              </div>
              <div class="product-info clearfix">
                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                <div class="price">
                  <del>
                    <span class="regular">$90.00</span>
                  </del>
                  <ins>
                    <span class="amount">$60.00</span>
                  </ins>
                </div>
                <ul class="flat-color-list width-14">
                  <li>
                    <a href="#" class="red"></a>
                  </li>
                  <li>
                    <a href="#" class="blue"></a>
                  </li>
                  <li>
                    <a href="#" class="black"></a>
                  </li>
                </ul>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
            <li class="product-item kid woman">
              <div class="product-thumb clearfix">
                <a href="#" class="product-thumb">
                  <img src="images/shop/sh-4/5.jpg" alt="image">
                </a>
                <span class="new">New</span>
              </div>
              <div class="product-info clearfix">
                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                <div class="price">
                  <ins>
                    <span class="amount">$139.00</span>
                  </ins>
                </div>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
            <li class="product-item man accessories">
              <div class="product-thumb clearfix">
                <a href="#" class="product-thumb">
                  <img src="images/shop/sh-4/6.jpg" alt="image">
                </a>
                <span class="new sale">Sale</span>
              </div>
              <div class="product-info clearfix">
                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                <div class="price">
                  <del>
                    <span class="regular">$150.00</span>
                  </del>
                  <ins>
                    <span class="amount">$120.00</span>
                  </ins>
                </div>
                <ul class="flat-color-list width-14">
                  <li>
                    <a href="#" class="red"></a>
                  </li>
                  <li>
                    <a href="#" class="blue"></a>
                  </li>
                  <li>
                    <a href="#" class="black"></a>
                  </li>
                </ul>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
            <li class="product-item kid woman">
              <div class="product-thumb clearfix">
                <a href="#" class="product-thumb">
                  <img src="images/shop/sh-4/7.jpg" alt="image">
                </a>
              </div>
              <div class="product-info clearfix">
                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                <div class="price">
                  <ins>
                    <span class="amount">$110.00</span>
                  </ins>
                </div>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
            <li class="product-item man accessories">
              <div class="product-thumb clearfix">
                <a href="#" class="product-thumb">
                  <img src="images/shop/sh-4/8.jpg" alt="image">
                </a>
                <span class="new">New</span>
              </div>
              <div class="product-info clearfix">
                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                <div class="price">
                  <ins>
                    <span class="amount">$90.00</span>
                  </ins>
                </div>
              </div>
              <div class="add-to-cart text-center">
                <a href="#">ADD TO CART</a>
              </div>
              <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END PRODUCT -->