<!-- SLIDER -->
<div class="rev_slider_wrapper fullwidthbanner-container">
  <div id="rev-slider2" class="rev_slider fullwidthabanner">
    <ul>
      <!-- Slide 1 -->
      <li data-transition="random">
        <!-- Main Image -->
        <img src="/static/images/slider/woman-at-cafe-table.jpg" alt="" data-bgposition="center center" data-no-retina>

        <!-- Layers -->
        <div class="tp-caption tp-resizeme text-6e6 font-weight-500 letter-spacing-08"
          data-x="['left','left','left','center']" data-hoffset="['7','7','7','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['-122','-122','-122','-122']"
          data-fontsize="['18','18','18','18']" data-lineheight="['36','36','36','36']" data-width="full"
          data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
          data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
          data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
          data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="700" data-splitin="none"
          data-splitout="none" data-responsive_offset="on">
          In store & Online
        </div>

        <div class="tp-caption tp-resizeme text-333 font-weight-500 letter-spacing-3"
          data-x="['left','left','left','center']" data-hoffset="['7','7','7','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['-62','-62','-62','-62']"
          data-fontsize="['72','72','72','46']" data-lineheight="['80','80','80','50']" data-width="full"
          data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
          data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
          data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
          data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none"
          data-splitout="none" data-responsive_offset="on">
          BLACK FRIDAY
        </div>

        <div class="tp-caption tp-resizeme text-6e6 font-weight-300 " data-x="['left','left','left','center']"
          data-hoffset="['7','7','7','0']" data-y="['middle','middle','middle','middle']"
          data-voffset="['3','3','3','3']" data-fontsize="['20','20','20','20']" data-lineheight="['48','48','48','48']"
          data-width="full" data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
          data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
          data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
          data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none"
          data-splitout="none" data-responsive_offset="on">
          30% SALE OFF EVERYTHING
        </div>

        <div class="tp-caption" data-x="['left','left','left','center']" data-hoffset="['7','7','7','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['72','72','72','72']" data-width="full"
          data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
          data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
          data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
          data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none"
          data-splitout="none" data-responsive_offset="on">
          <a href="#" class="themesflat-button has-padding-36 bg-accent has-shadow"><span>SHOP NOW</span></a>
        </div>
      </li>
      <!-- /End Slide 1 -->

      <!-- Slide 2 -->
      <li data-transition="random">
        <!-- Main Image -->
        <img src="/static/images/slider/t-shirt-store.jpg" alt="" data-bgposition="center center" data-no-retina>

        <!-- Layers -->
        <div class="tp-caption tp-resizeme text-white font-weight-300" data-x="['left','left','left','center']"
          data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
          data-voffset="['-93','-93','-93','-93']" data-fontsize="['24','24','24','18']"
          data-lineheight="['72','72','72','36']" data-width="full" data-height="none" data-whitespace="normal"
          data-transform_idle="o:1;"
          data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
          data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
          data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="700" data-splitin="none"
          data-splitout="none" data-responsive_offset="on">
          NEW TREND 2018
        </div>

        <div class="tp-caption tp-resizeme text-white font-weight-500" data-x="['left','left','left','center']"
          data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
          data-voffset="['-42','-42','-42','-42']" data-fontsize="['52','52','52','40']"
          data-lineheight="['60','60','60','40']" data-width="full" data-height="none" data-whitespace="normal"
          data-transform_idle="o:1;"
          data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
          data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
          data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none"
          data-splitout="none" data-responsive_offset="on">
          New Collection
        </div>

        <div class="tp-caption tp-resizeme text-white font-weight-400 " data-x="['left','left','left','center']"
          data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
          data-voffset="['12','12','12','12']" data-fontsize="['18','18','18','16']"
          data-lineheight="['72','72','72','38']" data-width="full" data-height="none" data-whitespace="normal"
          data-transform_idle="o:1;"
          data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
          data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
          data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none"
          data-splitout="none" data-responsive_offset="on">
          BIG SALE OF THIS WEEK UP TO 30%
        </div>

        <div class="tp-caption" data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['80','80','80','80']" data-width="full"
          data-height="none" data-whitespace="normal" data-transform_idle="o:1;"
          data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
          data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
          data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none"
          data-splitout="none" data-responsive_offset="on">
          <a href="#" class="themesflat-button has-padding-36 bg-accent has-shadow"><span>SHOP NOW</span></a>
        </div>
      </li>
      <!-- /End Slide 2 -->
    </ul>
  </div>
</div>
<!-- END SLIDER -->